*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    /* color: #eaeaea; */
    background: none;
    border: none;
  }
  
 button:not(.activeClass)::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: green;
    left: 0;
    bottom: -5px;
    transform: scale(0, 1);
    transition: transform 0.25s ease;
    transform-origin: 0 100%;
  }
  
button:hover:not(.activeClass)::before {
    transform: scale(1, 1);
  }
  
button.activeClass::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: green;
    left: 0;
    bottom: -5px;
  }

  section{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    height: 100vh;
  }
  
  section:nth-child(odd){
    background: #eaeaea;
  }

  
.animate-btn {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #fff !important;
  text-align: center;
  padding: 15px 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 1;
  -moz-transition: all 400ms ease-out 0s;
  -webkit-transition: all 400ms ease-out 0s;
  -ms-transition: all 400ms ease-out 0s;
  -o-transition: all 400ms ease-out 0s;
  transition: all 400ms ease-out 0s;
  background: #08e02c;
}
.animate-btn:before {
  position: absolute;
  content: '';
  width: 5%;
  height: 100%;
  background: rgba(3, 50, 77, 0.2);
  left: 0px;
  top: 0px;
  z-index: -1;
  -moz-transition: all 400ms ease-out 0s;
  -webkit-transition: all 400ms ease-out 0s;
  -ms-transition: all 400ms ease-out 0s;
  -o-transition: all 400ms ease-out 0s;
  transition: all 400ms ease-out 0s;
}
.animate-btn:hover:before {
  width: 100%;
  background: #007a14;
}
